body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

header {
    padding: 60px 20px;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}

section {
    padding: 50px 20px;
}

.card {
    background-color: #1e293b;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0ea5e9;
}

.tech-container {
    margin-top: 20px;
}

.tech-badge {
    display: inline-block;
    background-color: #334155;
    padding: 10px 18px;
    margin: 8px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.tech-badge:hover {
    background-color: #38bdf8;
    color: black;
}

footer {
    padding: 30px;
    font-size: 14px;
    background-color: #0b1220;
}
